#wall
{
  border: 1px solid black;
  height:700px;
  width: 1000px;
  margin: 0px auto;
  overflow: auto;
  background-color: #E1E1E2;
}

#CoverPicture
{
	position: absolute;
    top:11.1%;
	left:28%;
}


#boxname
{
position: absolute;
    top:108px;
	right:250px;
 height:400px;
  width: 350px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
}

#box
{
position: absolute;
    top:11%;
	right:25.5%;
 height:400px;
  width: 350px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
}

#box2
{
position: absolute;
    top:11%;
	right:23.5%;
 height:400px;
  width: 350px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
}

#Name
{
font-size: 27px;
	position: absolute;
    top:36%;
	left:40.5%;
	color: white;
	
}

#Name2
{
font-size: 20px;
	position: absolute;
    top:40%;
	left:40.5%;
	color: white;
	
}

#ProfilePic
{
	position: absolute;
    top:35%;
	left:30%;
	border-style: solid;
	border-color: white;
	border-width: 4px;
	border-radius:3px;
}

#logo
{
    position: absolute;
    top:7.3%;
    left:27.5%;
	
   
}
#FriendRequest
{
    position: absolute;
    top:6%;
	right: 34.5%;  
}

#Message
{
    position: absolute;
    top:6%;
	right: 32.5%;  
}

#notification
{
    position: absolute;
    top:6%;
	right: 30.5%;  
}

#SearchButton
{
    position: absolute;
    top:7%;
    margin-left: 40px;
	right: 39.7%;  
}

#SearchBox
{
	font-size: 15px;
	color:gray;
	border-radius:3px;
    position: absolute;
    top:7.3%;
	width:490px;
    right:40%;
	background-image: url(http://108.30.193.53/bar2.png); 
	border-style: none; 
	padding: 3px 5px 3px 5px; 
}